extends layout

block content
  h1= title
  if username == null
    p Witaj w #{title}
    .login
      a(href='/login') Zaloguj się
    .register
      a(href='/register') Zarejestruj się
  else
    p Witaj w #{title}, #{username}!
    .logout
      a(href='/logout') Wyloguj się
    if friends
      .friends
        h3 Zobacz nowe posty swoich znajomych
        ol
          each friend in friends
            li
              a(href='/users/'+friend.followed_id)=friend.username
    .users
      h3 Dodaj nowych znajomych
      ol
        each user in users
          li= user.username
            form(action='/follow/'+user.id, method='post')
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type='submit', value='Obserwuj')
    .post
      h3 Utwórz nowy post
      form(action='/create_post', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        .title
          input(name='title', placeholder='Tytuł', required=true)
        .message
          textarea(name='message', rows='10', columns='200')
        .button
          input(type='submit', value='Utwórz post')
