extends layout

block content
  h1= title
  if error
    p= error
  form(action=redirect, method='post')
    div
      input(type='hidden', name='_csrf', value=csrfToken)
    div
      input(name='login', placeholder='Nazwa użytkownika', required=true)
    div
      input(type='password', name='pass', placeholder='Hasło', required=true)
    if actionType == 'register'
      div
        input(type='password', name='pass2', placeholder='Powtórz hasło', required=true)
    div
      input(type='submit', value=actionTitle)
