extends layout

block content
  if user
    input(type='hidden', name='_csrf', value=csrfToken)
    h3 Użytkownik #{user.username}
    if friends
      h4 Znajomi
      ol
        each friend in friends
          li
            .username= friend.username
            .link
              if !friend.followed && curr_uid !== friend.followed_id
                form(action='/follow/'+friend.followed_id, method='post')
                  input(type='hidden', value=csrfToken)
                  input(type='submit', value='Obserwuj')
              else if curr_uid !== friend.followed_id
                form(action='/unfollow/'+friend.followed_id, method='post')
                  input(type='hidden', name='_csrf', value=csrfToken)
                  input(type='submit', value='Przestań obserwować')
    else
      p Nie udało się połączyć z serwerem relacji...
    if posts
      h4 Posty
      div
        each post in posts
          .post
            h5= post.title
            .message=post.message
    else
      p Nie udało się połączyć z serwerem postów...
  else
    h1 Nie znaleziono użytkownika
