extends layout

block content
  if user
    h3 Użytkownik #{user.username}
    if friends
      h4 Znajomi
      ol
        each friend in friends
          li
            .username= friend.username
            .link
              form(action='/follow/'+friend.userId, method='post')
                input(type='hidden', value=csrfToken)
                input(type='submit', value='Obserwuj')
              form(action='/unfollow/'+friend.userId, method='post')
                input(type='hidden', value=csrfToken)
                input(type='submit', value='Przestań obserwować')
    else
      p Nie udało się połączyć z serwerem relacji...
    if posts
      h4 Posty
      div
        each post in posts
          .post
            h5= post.title
            .message=post.message
    else
      p Nie udało się połączyć z serwerem postów...
  else
    h1 Nie znaleziono użytkownika
